---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<p>Welcome to my site.</p>
	<p>Feel free to checkout out the about or blog page.</p>
</BaseLayout>


