---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header>
    <div class="header-content">
        <nav>
            <Hamburger />
            <Navigation />
        </nav>
    </div>
</header>