---
import Social from "./Social.astro";
---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <Social platform="github" username="martintc"/>
</div>
